.plan__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2.5rem 0;
  opacity: 0.8;
}

.plan__container:hover {
  opacity: 1;
}

.plan__description > p {
  font-weight: 400;
  font-size: 0.875rem;
}

.plan__button {
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #e50914;
  cursor: pointer;
  border: none;
}

.plan__button--disabled {
  background-color: gray;
}
